@charset "UTF-8";

/* 
    TYPICAL DEVICE BREAKPOINTS
    Pequenas telas: Até 600px
    Celular: de 600px até 768px
    Tablet: de 768pc até 992px
    Desktop: de 992px até 1200px
    Grandes telas: Acima de 1200px
*/

@media screen and (min-width: 768px)  and (max-width: 992px){
    main{
        background-image: linear-gradient(to top, var(--verde), var(--lilas));
    }

    #login {
        height: 350px;
        width: 90vw;
    }    

    #image {
        float: left;
        height: 100%;
        width: 30%;
    }

    #form {
        float: right;
        padding: 20px;
        width: 70%;
    }
}

@media screen and (min-width: 993px){
    main{
        background-image: linear-gradient(to top, var(--verde), var(--lilas));
    }

    #login {
        height: 400px;
        width: 900px;
    }
    
    #image {
        float: right;
        height: 100%;
        width: 50%;
    }

    #form {
        float: left;
        padding: 40px;
        width: 50%;
    }

    #form > h1 {
        font-size: 2em;
    }

    #form > p {
        font-size: 1.2em;
    }
}

:root {
    --verde: #49a09d;
    --lilas: #5f2c82;
}
